bryanCafe/data/menu.dtd

<!--
    Bryan's Cafe - Menu Document Type Definition
    Defines the structure for menu.xml
    Author: Web Developer (ICTWEB441/518)
    Version: 1.0
-->

<!-- Root element: contains one or more categories -->
<!ELEMENT menu (category+)>

<!-- Category: groups menu items (e.g. Breakfast, Lunch, Coffee) -->
<!ELEMENT category (item+)>
<!ATTLIST category
    name CDATA #REQUIRED>

<!-- Item: an individual menu entry -->
<!ELEMENT item (name, description, price, image)>
<!ATTLIST item
    id ID #REQUIRED>

<!-- Item child elements -->
<!ELEMENT name (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ATTLIST price
    currency CDATA "AUD">
<!ELEMENT image (#PCDATA)>
