data/branches.dtd

<!--
    Bryan's Cafe - Branches Document Type Definition
    Version: 1.0
-->
<!ELEMENT branches (branch+)>
<!ELEMENT branch (name, address, phone, hours, maps)>
<!ATTLIST branch id ID #REQUIRED>
<!ELEMENT name (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT hours (weekdays, weekends)>
<!ELEMENT weekdays (#PCDATA)>
<!ELEMENT weekends (#PCDATA)>
<!ELEMENT maps (#PCDATA)>
