data/menu.dtd

<!--
    Bryan's Cafe - Menu Document Type Definition
    Defines the structure for menu.xml
    Version: 1.0
-->
<!ELEMENT menu (category+)>
<!ELEMENT category (item+)>
<!ATTLIST category name CDATA #REQUIRED>
<!ELEMENT item (name, description, price, image)>
<!ATTLIST item id ID #REQUIRED>
<!ELEMENT name (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ATTLIST price currency CDATA "AUD">
<!ELEMENT image (#PCDATA)>
